@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: var(--color-stone-50);
  --foreground: var(--color-gray-800);
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-sans);
  --font-mono: var(--font-roboto-mono);
}

.dark {
  --background: var(--color-gray-950);
  --foreground: var(--color-white);
  color-scheme: dark;
}

.dark .shiki,
.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
}

a {
  -webkit-tap-highlight-color: transparent;
}

:where(a, button, [tabindex="0"]):focus-visible {
  border-radius: 0.25rem;
  outline: 3px solid var(--color-blue-500);
  outline-offset: 3px;
}
