@import "tailwindcss";

:root {
  --background: var(--color-stone-50);
  --foreground: var(--color-gray-800);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-sans);
  --font-mono: var(--font-roboto-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-gray-950);
    --foreground: var(--color-white);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-sans);
}

.remark p {
  margin: 1rem 0;
}

.remark h2 {
  font-size: 1.25rem;
  color: var(--color-blue-500);
}
